# Environment Variables
.env
*.env
.env.*

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Node.js
node_modules/
dist/
.nuxt/
.output/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db
